<ion-split-pane>
  <ion-menu [content]="content" *ngIf="this.api.sites && this.api.sites.length > 0">

    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button menuClose ion-item [ngClass]="{'selected': api.selected == site }" (click)="selectSite(site)" class="site-item" *ngFor="let site of api.sites">
          <ion-avatar item-left>
            <img [src]="site.url + 'img/icon.png'">
          </ion-avatar>
          <h2 color="dark" ion-text>
            {{site.site}}
          </h2>
          <ion-note>
            {{site.url}}
          </ion-note>
        </button>

        <button menuClose ion-item *ngIf="api.sites.length > 0" (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
          Cerrar Sesion
        </button>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-nav main [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
